{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
        .notification {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

.notification:hover {
  background: green;
}

.notification .badge {
  position: absolute;
  top: -00px;
  right: -00px;
  padding: 3px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}
    </style>
</head>

<body background="{% static 'register.jpg' %}">

<div class="navbar">
  <a href="{% url 'update_pr_tr' %}">UPDATE PROFILE</a>
  <a href="{% url 'st_progress' %}">STUDENT PROGRESS</a>
  <div class="dropdown">
    <button class="dropbtn">TOPICS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'sub_tr' %}">SUBJECT</a>
      <a href="{% url 'chap_tr' %}">CHAPTER</a>
        <a href="{% url 'ch_co_tr' %}">CHAPTER CONTENT</a>
    </div>
  </div>
    <button  class="notification" onclick="location.href='{% url 'stu_buk_acc' %}'"><span>STUDENT BOOKED DETAILS<i class="fa fa-caret-down"></i></span>
        <a href="{% url 'notiffy' %}" class="badge">{% if count > 0 %}{{count}}{% else %}0{% endif %}</a></button>
 <div class="dropdown">
    <button class="dropbtn">EXAMS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'sched_test' %}">SCHEDULE TEST</a>
      <a href="{% url 'delete_test' %}">DELETE SCHEDULED TEST</a>
      <a href="{% url 'exam_result1' %}">EXAM RESULTS</a>
    </div>
 </div>
   <a href="{% url 'm_m1' %}">MESSAGES</a>
     <a href="{% url 'atten' %}">GIVE ATTENDANCE</a>
     <a href="{% url 'logout' %}" onclick="return confirm('Are you sure?')">LOGOUT</a>
</div>
<h1 style="text-align:center">TEACHER HOME</h1>
<div style="color:blue;font-size:200%;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
</body>
</html>
